@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="https://docs.google.com/document/d/1KLfcLzaaDJJy7UaE94qWnpOW62ZkceoieOqufJeeUkQ/edit?usp=sharing" target="_blank">Interim Report I </a><br />
        <a href="https://docs.google.com/document/d/1bq72LcBkUap0lAiID8A3LEm3H4ApIhCilSbmHMY-qtE/edit?usp=sharing" target="_blank">WRS </a><br />

    </div>
</body>
</html>
